
-- RPC to decrement analyze credits
CREATE OR REPLACE FUNCTION decrement_analyze_credits(user_id UUID)
RETURNS VOID AS \$\$
BEGIN
  UPDATE public.users
  SET credits_analyze = credits_analyze - 1
  WHERE id = user_id AND credits_analyze > 0;
END;
\$\$ LANGUAGE plpgsql SECURITY DEFINER;

-- RPC to decrement generate credits
CREATE OR REPLACE FUNCTION decrement_generate_credits(user_id UUID)
RETURNS VOID AS \$\$
BEGIN
  UPDATE public.users
  SET credits_generate = credits_generate - 1
  WHERE id = user_id AND credits_generate > 0;
END;
\$\$ LANGUAGE plpgsql SECURITY DEFINER;

